{% extends 'base.html' %}
{% block title %}
  About Blood Donation
{% endblock %}
{% block head %}
  <style>
  p{
    text-align: justify;
  text-justify: inter-word;
  }
</style>
{% endblock %}

{% block body %}
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8 blog-main">
        <h3 class="pb-3 mb-4 font-italic border-bottom">About Blood Donation</h3>

        <div class="blog-post">
          <h2 class="blog-post-title">Blood Donation Process</h2>

          <p>
            A person can donate blood either in a licensed blood bank or at blood donation camps.<br />
            <br />
            <b>Blood Banks:</b>
            Any person can walk-in voluntarily any time round the clock at their own convenience to donate blood in a licensed blood bank. Beside, an In-house camp can be organized in a blood bank on pre-fixed dates with the Organisers and Blood Bank in charge.
            <br /><br /> <b>Outdoor camps:</b>
            Prefixed venues by Organisers like educational institutions, industrial and commercial houses etc. Blood Banks organize camps in these sites/ premises on a fixed day as decided by SBTC.
            <br /><br /> What to expect when you visit a Blood Bank or Blood Donation Camp
            <br />
            <br />

            <b>Registration (10 Mins):</b>
            Donor fills up the registration form and gives his consent for donation.
            <br />
            <br />

            <b>Medical Check up (5 Mins):</b>
            Donors Medical History & life style is asked, check up of temperature, blood pressure, pulse and haemoglobin.

            <br />
            <br />

            <b>Donation (8 Mins)</b>
            Phlebotomist draws unit (350ml/450ml) of blood. A new sterile meedle is used to draw each unit and the needle is destroyed after it has been used. It taked less than 10 min.
            <br />
            <br />
            <b>Refreshment (10 Mins)</b>
            Enjoy Snacks and drinks juice to replenish fluids.
          </p>
          <hr />
        </div>
          <div   class="border-top">
          <h2>Eligiblity Criteria</h2>
          <br />
          <p>
            The eligibility criteria for blood donation as per the National Blood Transfusion Council, India: <br /> <br />

            <b>Age:</b> The minimum age for blood donation is 18 years, and the maximum age is 65 years. However, donors over 60 years of age should donate blood only if they have donated blood previously and their last donation was within the last 2 years.
            <br />
            <br />
            <b>Weight:</b> The minimum weight for blood donation is 50 kg.
            <br />
            <br />

            <b>Hemoglobin level:</b> The minimum hemoglobin level for blood donation is 12.5 g/dL for females and 13.0 g/dL for males.
            <br />
            <br />
            <b>Health status:</b> Donors should be in good health and free from any infectious diseases, such as HIV, hepatitis B, hepatitis C, and syphilis. Donors with a history of certain medical conditions, such as cancer, diabetes, heart disease, and asthma, may be deferred from donating blood.
            <br />
            <br />

            <b>Medications:</b> Donors taking certain medications, such as aspirin, antibiotics, and anticoagulants, may be deferred from donating blood.
            <br />
            <br />

            <b>Pregnancy and breastfeeding:</b> Pregnant and breastfeeding women are not eligible to donate blood.
            <br />
            <br />

            <b>Recent blood donation:</b> Donors should wait for at least 3 months after their last blood donation before donating blood again.
            <br />
            <br />

            It's important to note that these eligibility criteria may vary depending on the blood donation center and the specific requirements of the blood bank. Donors should always consult with the blood donation center to determine their eligibility and any specific requirements for donation.
            <br />
            <br />
          </p>
        </div>
        <!-- /.blog-post -->
        <hr />
        <div   class="border-top">
          <h2>Compatibility of blood types</h2>
          <br />
          <p>
            Blood donation and transfusion are important medical procedures that require careful consideration of the compatibility of blood types. There are four main blood groups or blood types: A, B, AB, and O.
            <ul>
              <li>Blood type A has A antigens on the surface of its red blood cells and produces antibodies against type B blood.</li>
              <li>Blood type B has B antigens on its red blood cells and produces antibodies against type A blood.</li>
              <li>Blood type AB has both A and B antigens on its red blood cells but does not produce antibodies against either type A or B blood.</li>
              <li>Blood type O has neither A nor B antigens on its red blood cells but produces antibodies against both type A and B blood.</li>
            </ul>
            Based on these differences, blood donation and transfusion can be done in the following ways:
            <ul>
              <li>Type A blood can donate to individuals with blood types A and AB.</li>
              <li>Type B blood can donate to individuals with blood types B and AB.</li>
              <li>Type AB blood can donate only to individuals with blood type AB, but AB blood can receive from any blood group.</li>
              <li>Type O blood can donate to individuals with blood types A, B, AB, and O. It is often referred to as the universal donor blood group.</li>
            </ul>
          </p>
        </div>
      </div>
        <!-- /.blog-post -->
        <!-- /.blog-main -->
        
      <aside class="col-md-4 blog-sidebar">
        <div class="p-3 mb-3 bg-light rounded">
          <h4 class="font-italic">Pre-donation preparation</h4>
          <p class="mb-0">Before donating blood, it's essential to prepare by eating a healthy meal, drinking plenty of fluids, and getting enough rest. Donors should also avoid alcohol and caffeine before donating blood.</p>
        </div>

        <div class="p-3 mb-3 bg-light rounded">
          <h4 class="font-italic">Post-donation care</h4>
          <p class="mb-0">After donating blood, donors should take care of themselves by eating a healthy meal, drinking plenty of fluids, and avoiding strenuous activity for the rest of the day. Donors may experience some mild side effects, such as dizziness or lightheadedness, which can be relieved by resting and drinking fluids.</p>
        </div>
        <div class="p-3 mb-3 bg-light rounded">
          <h4 class="font-italic">Donating blood is safe</h4>
          <p class="mb-0">Blood donation is a safe and simple procedure. The equipment used for blood donation is sterile, and the process is performed by trained professionals who follow strict guidelines and procedures to ensure donor safety.</p>
        </div>
      </aside>
      <!-- /.blog-sidebar -->
    </div>
  </div>
    <!-- /.row -->
  </main>
{% endblock %}
