{% extends 'base.html' %}
{% block title %}Donor Appointments{% endblock title %}
{% block head %}
{% endblock head %}

{% block body %}

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">

            {% for j in app %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top"
                    data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                    alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                    src="https://medibhai.com/uploads/hospital_image/hospital-profile-default.jpg"
                    data-holder-rendered="true"> 
                    <div class="card-body">
                    <b> Appointment id:</b> {{j.id}} <br>
                       <b> Name of Donor: </b>{{j.donor_id.name}}<br>
                       <b> Name of Hospital:</b> {{j.hospital_id.name}} <br>
                       <b> Address of Hospital:</b> {{j.hospital_id.location.address}}, {{j.hospital_id.location.landmark}}, {{j.hospital_id.location.city}}, {{j.hospital_id.location.state}}<br>
                       <b> Date of Request: </b> {{j.date_of_appointment}}<br>
                       <b> confirmed: </b>{{j.confirmed}}<br>
                       <b> Date of Appoinntment: </b> {{j.date_scheduled}}
                        
                        
                        <p class="card-text"></p>
                            <div class="d-flex justify-content-between align-items-center">
                                
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <button class="btn btn-primary" style="float: right;" onclick="goBack()">Go Back</button>
      <script>
        function goBack() {
            window.history.back();
        }
      </script>
        </div>
    </div>
    {% endblock body %}