{% extends 'base.html' %}
{% block title %}Donor Appointments{% endblock title %}
{% block head %}
<style> 
  .tablediv {
    overflow-x:scroll;
  }

</style>
{% endblock head %}

{% block body %}

<div class="album ">
    <div class="container">
        <h1>All Appointment</h1>
        <div class="tablediv">
        <table class="table table-striped">
          <thead>
            <tr>
                <th>Appoint. ID</th>
                <th>Date of Request</th>
                <th>Donor </th>
                <th>Hospital</th>
                <th>Hospital Address</th>
                <th>Confirmed</th>
                <th>Date Scheduled</th>
            </tr>
          </thead>
          <tbody>
            {% for appointment in app %}
            <tr>
                <td>{{appointment.id}}</td>
                <td>{{ appointment.date_of_appointment|date:"F d, Y" }}</td>
                <td>{{ appointment.donor_id.name }}</td>
                <td>{{ appointment.hospital_id.name }}</td>
                <td>{{appointment.hospital_id.location.address}}, {{appointment.hospital_id.location.landmark}}, {{appointment.hospital_id.location.city}}, {{appointment.hospital_id.location.state}}</td>
                <td>{% if appointment.confirmed %}Yes{% else %}No{% endif %}</td>
                <td>{{ appointment.date_scheduled|date:"F d, Y H:i" }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        </div>


            <a class="btn btn-primary" style="float: right;" href="/donor">Go Home</a>
      <script>
        function goBack() {
            window.history.back();
        }
      </script>
        </div>
    </div>
    {% endblock body %}