{% extends 'base.html' %}
{% block title %}
  Blood Requests
{% endblock %}
{% block head %}
  <style> 
    .box {
      border-radius: 25px;
    }
    .tablediv {
      overflow-x:scroll;
    }

  </style>
{% endblock %}

{% block body %}

<div class="album">
  <div class="container">

      <div class="row">
          <div class="col-md-12">
              <h1>Your Responses</h1>
              <div class="tablediv">
              <table class="table table-striped">
                  <thead>
                      <tr>
                          <th>Date of Request</th>
                          <th>Patient Name</th>
                          <th>Hospital Name</th>
                          <th>Hospital Address</th>
                          <th>Quantity</th>
                          <th>Recieved</th>
                          
                          
                          
                      </tr>
                  </thead>
                  <tbody>
                      {% for request in r2 %}
                          <tr>
                              <td>{{ request.req_id.date_of_request }}</td>
                              <td>{{ request.req_id.patient_id.name }}</td>
                              <td>{{ request.req_id.hospital_name }}</td>
                              <td>{{ request.req_id.hospital_add }}</td>
                              <td>{{ request.req_id.quantity }}</td>
                              <td>{% if request.req_id.recieved %}Yes{% else %}No{% endif %}</td>
                             
                             
                          </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <h1>All Requests</h1>
            <div class="tablediv">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date of Request</th>
                        <th>Patient Name</th>
                        <th>Hospital Name</th>
                        <th>Hospital Address</th>
                        <th>Quantity</th>
                        <th>Respond</th>
                        
                        
                        
                    </tr>
                </thead>
                <tbody>
                    {% for request in r %}
                        <tr>
                            <td>{{ request.date_of_request }}</td>
                            <td>{{ request.patient_id.name }}</td>
                            <td>{{ request.hospital_name }}</td>
                            <td>{{ request.hospital_add }}</td>
                            <td>{{ request.quantity }}</td>
                            <td><form method="post" name="form_int">
                              {% csrf_token %}
                              <input type="hidden" name="data" value="{{request.id}}" />
                              <input type="hidden" name="p_id" value="{{request.patient_id.id_no}}" />
                              <button type="submit" class="btn btn-sm btn-outline-secondary">Interested</button>
                            </form></td>
                           
                           
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
    
    <a class="btn btn-primary" style="float: right;" href="/donor">Go Home</a>

  </div>
      <script>
        function goBack() {
            window.history.back();
        }
      </script>
    </div>
  </div>
{% endblock %}
