{% extends 'base.html' %}
{% block title %}Hosspital Appointments{% endblock title %}
{% block head %}
{% endblock head %}

{% block body %}



<div class="album">
    <div class="container">
        <h1>All Appointment</h1>
        <table class="table table-striped">
          <thead>
            <tr>
                <th>Appoint. ID</th>
                <th>Date of Request</th>
                <th>Donor </th>
                <th>Blood Group</th>
                <th>Weight</th>
                
                <th>Detail</th>
            </tr>
          </thead>
          <tbody>
            {% for appointment in app %}
            <tr>
                <td>{{appointment.id}}</td>
                <td>{{ appointment.date_of_appointment|date:"F d, Y" }}</td>
                <td>{{ appointment.donor_id.name }}</td>
                <td>{{ appointment.donor_id.blood_group }}</td>
                <td>{{appointment.donor_id.health.weight}}</td>
               
                <td><form method="post"  >
                    {% csrf_token %}
                    <input type="hidden" value="{{appointment.id}}" name="id_no">
                    <input type="hidden" value="{{appointment.donor_id.id_no}}" name="d_id">
                    <button class="btn btn-primary" type="submit"> Open </button>
                </form></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        
        <a class="btn btn-primary" style="float: right;" href="/hospital">Go Home</a>
        </div>
    </div>
    {% endblock body %}