{% extends 'base.html' %}
{% block title %}Hospital Scheduled Appointments{% endblock title %}
{% block head %}
{% endblock head %}

{% block body %}

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">

            {% for j in app %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top"
                    data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                    alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                    src="https://medibhai.com/uploads/hospital_image/hospital-profile-default.jpg"
                    data-holder-rendered="true"> 
                    <div class="card-body">
                        <b> Appointment id:</b> {{j.id}} <br>
                       <b> Name of Donor: </b> {{j.donor_id.name}}<br>
                       <b>Blood Group:</b> {{j.donor_id.blood_group}} <br>
                       <b>Weight:</b> {{j.donor_id.health.weight}} kg<br>
                       
                       
                       <b> Date of Request: </b> {{j.date_of_appointment}}<br>
                       <b> Date Scheduled: </b> {{j.date_scheduled}}<br>
                        
                        
                        <p class="card-text"></p>
                            <div class="d-flex justify-content-between align-items-center">
                                
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %} 
            </div>
        </div>
    </div>
    {% endblock body %}