{% extends 'base.html' %}
{% block title %}
  Donor index
{% endblock %}
{% block head %}
  <style>
    .box {
      border-radius: 25px;
    }
  </style>
{% endblock %}

{% block body %}
  <div class="album">
    {% if messages %} 
      {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show mx-5" role="alert">
          <strong>Success!</strong> {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
    <div class="container">
      
      <header class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Donate Blood, Save Lives</h1>
          <p class="lead">Your blood can help save lives. Find out how you can donate today.</p>
          <a href="/about" class="btn btn-primary btn-lg">Learn More</a>
        </div>
      </header>
<br>
      <section class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <i class="fas fa-hand-holding-medical fa-3x"></i>
                <h5 class="card-title mt-3">Donate Blood</h5>
                <p class="card-text">Your blood donation can make a life-saving difference for someone in need.</p>
                <a href="#" class="btn btn-primary">Learn More</a>
              </div>
            </div>
          </div>
          <br>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <i class="fas fa-tint fa-3x"></i>
                <h5 class="card-title mt-3">Check Blood reqests</h5>
                <p class="card-text">Learn about the people in need of blood and helf them to get a better life.</p>
                <a href="/donor_show_req" class="btn btn-primary">Blood requests</a>
              </div>
            </div>
          </div>
          <br>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <i class="fas fa-hospital fa-3x"></i>
                <h5 class="card-title mt-3">Appointments</h5>
                <p class="card-text">Check your Appointment Status and dta about your past Appointments.</p>
                <a href="/donor_appointments" class="btn btn-primary">Learn More</a>
              </div>
            </div>
          </div>
        </div>
        <br>
      </section>
      
      <section class="container my-5">
        <h2 class="text-center mb-4">Why Donate Blood?</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Save Lives</h5>
                <p class="card-text">One blood donation can save up to three lives. Imagine the impact you could have.</p>
              </div>
            </div>
          </div>
          <br>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Community Impact</h5>
                <p class="card-text">By donating blood, you are helping to support your local community and those in need.</p>
              </div>
            </div>
          </div>
          <br>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Health Benefits</h5>
                <p class="card-text">Donating blood can help reduce your risk of heart disease, stroke, and certain types of cancer.</p>
              </div>
            </div>
          </div>
        </div>
        <br>
      </section>

      <hr />
      <h1>Hospitals Near You</h1>
      <br>
      <div class="row">
        {% for j in hospd %}
          <div class="col-md-4">
            <div class="card mb-4 box-shadow box">
              <img class="card-img-top box" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://medibhai.com/uploads/hospital_image/hospital-profile-default.jpg" data-holder-rendered="true" />
              <div class="card-body">
                <b>Name:</b>{{ j.name }}<br />
                <b>Email:</b> {{ j.email }} <br />
                <b>Address:</b> {{ j.location.address }}, {{ j.location.landmark }}, {{ j.location.city }}, {{ j.location.state }} <br />
                <b>Contact:</b> {{ j.contact_no1 }}

                <p class="card-text"></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <form method="post" action="/donor_h_page">
                      {% csrf_token %}
                      <input type="hidden" name="data" value="{{ j.id_no }}" />
                      <button type="submit" class="btn btn-sm btn-outline-secondary">Veiw Details</button>
                    </form>
                  </div>
                  <small class="text-muted"></small>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
