{% extends 'base.html' %}
{% block title %}Hospital index{% endblock title %}
{% block head %}


{% endblock head %}

{% block body %}
<div class="container">
<div class="album bg-light">
    {% if messages %}
    {% for message in messages %} 
    <div class="alert alert-success alert-dismissible fade show mx-5" role="alert">
      <strong>Success!</strong> {{message}} 
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %} 
      <div class="container">
        <a class="btn dropdown-toggle " style="float: right;" href="#" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
                      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"></path>
      </svg>
                 
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/hospital_appoints">Appointments</a></li>
                    <li><a class="dropdown-item" href="/hospital_scheduled_appoints">Approved Appointments</a></li>
                    <li><a class="dropdown-item" href="/hospital_update">Update Profile</a></li>
                    <li><a class="dropdown-item" href="hospital_logout" >Logout</a></li>
                    {{ redirect_to_login_immediately }}
                    
                    
                  </div>
                  <section class="vh-200" style=" background-color: #f4f5f7;">
                    <div class="container py-5 h-100">
   <h1>Welcome,</h1>
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0" style="width: 900px;">
        <div class="card mb-3" style="border-radius: .5rem;">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <img src="https://medibhai.com/uploads/hospital_image/hospital-profile-default.jpg" alt="Avatar"
                class="img-fluid px-5" style="width: 100%; height: 200px; margin-top: 15%;" />
              <h5>{{hosp.name}}</h5>
              <p></p>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>Information</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Email</h6>
                    <p class="text-muted">{{hosp.email}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Phone</h6>
                    <p class="text-muted">{{hosp.contact_no1}}</p>
                    <p class="text-muted">{{hosp.contact_no2}}</p>
                  </div>
                </div>
                <h6>Location</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6">
                    <h6>Address</h6>
                    <p class="text-muted">{{hosp.location.address}}, near {{hosp.location.landmark}}</p>
                  </div>
                  <div class="">
                    <h6>City</h6>
                    <p class="text-muted">{{hosp.location.city}}</p>
                  </div>
                  <div class="mb-3">
                    <h6>State</h6>
                    <p class="text-muted">{{hosp.location.state}}</p>
                  </div>
                </div>
                <h6>Blood Available</h6>
                <hr class="mt-0 mb-4">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Blood Group</th>
                      <th scope="col">Quantity (in units)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">A+</th>
                      <td>{{hosp.blood_quant.bg_A_pos}}</td>
                    </tr>

                    <tr>
                      <th scope="row">A-</th>
                      <td>{{hosp.blood_quant.bg_A_neg}}</td>
                    </tr>

                    <tr>
                      <th scope="row">B+</th>
                      <td>{{hosp.blood_quant.bg_B_pos}}</td>
                    </tr>

                    <tr>
                      <th scope="row">B-</th>
                      <td>{{hosp.blood_quant.bg_B_neg}}</td>
                    </tr>

                    <tr>
                      <th scope="row">AB+</th>
                      <td>{{hosp.blood_quant.bg_AB_pos}}</td>
                    </tr>

                    <tr>
                      <th scope="row">AB-</th>
                      <td>{{hosp.blood_quant.bg_AB_neg}}</td>
                    </tr>

                    <tr>
                      <th scope="row">O+</th>
                      <td>{{hosp.blood_quant.bg_O_pos}}</td>
                    </tr>

                    <tr>
                      <th scope="row">O-</th>
                      <td>{{hosp.blood_quant.bg_O_neg}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Last Updated</th>
                      <td>{{hosp.blood_quant.last_updated}}</td>
                    </tr>

                  </tbody>
                </table>
                
                
              </div>
            </div>
          </div>
        </div>
          </div>
        </div>
  
{% endblock body %}
