{% extends 'base.html' %}
{% block title %}Admin index{% endblock title %}
{% block head %}


{% endblock head %}

{% block body %}
{% if messages %} 
      {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show mx-5" role="alert">
          <strong>Success!</strong> {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
<div class="container">
  
    <h1>Admin Home Page</h1>
    <div class="container mt-4">
        <h3>Donors</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Age</th>
              <th scope="col">View</th>

            </tr>
          </thead>
          <tbody>
            {% for d in donors %}
            <tr>
              <th scope="row">{{d.id_no}}</th>
              <td>{{d.name}}</td>
              <td>{{d.email}}</td>
              <td>{{d.age}}</td>
              <td>
                <form action="/admin_user_d_page" method="post">
                  {% csrf_token %}
                  <input type="hidden" value="{{d.id_no}}" name="id_no">
                <button class="btn btn-primary" type="submit"> View </button>
              </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <h3>Patients</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Age</th>
              <th scope="col">View</th>

            </tr>
          </thead>
          <tbody>
            {% for p in patients %}
            <tr>
              <th scope="row">{{p.id_no}}</th>
              <td>{{p.name}}</td>
              <td>{{p.email}}</td>
              <td>{{p.age}}</td>
              <td>
                <form action="/admin_user_p_page" method="post">
                  {% csrf_token %}
                  <input type="hidden" value="{{p.id_no}}" name="id_no">
                <button class="btn btn-primary" type="submit"> View </button>
              </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
          </table>
          <h3>Hospitals</h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">City</th>
                <th scope="col">View</th>
  
              </tr>
            </thead>
            <tbody>
              {% for h in hospitals %}
              <tr>
                <th scope="row">{{h.id_no}}</th>
                <td>{{h.name}}</td>
                <td>{{h.email}}</td>
                <td>{{h.location.city}}</td>
                <td>
                  <form action="/admin_user_h_page" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{h.id_no}}" name="id_no">
                  <button class="btn btn-primary" type="submit"> View </button>
                </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            </table>
          

</div>
    {% endblock body %}
