{% extends 'base.html' %}
{% block title %}
  Patient index
{% endblock %}
{% block head %}
  <style>
    .box {
      border-radius: 25px;
    }
  </style>
{% endblock %}

{% block body %}
  <div class="album">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show mx-5" role="alert">
          <strong>Success!</strong> {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
    <div class="container">
     
      <section class="container my-5">
        <h2 class="text-center mb-4">How Can We Help?</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <i class="fas fa-search fa-3x"></i>
                <h5 class="card-title mt-3">Find Blood</h5>
                <p class="card-text">Search for available blood banks near you.</p>
                <button class="btn btn-primary" onclick="scrollDown()">Learn more</button>

                <script>
                  function scrollDown() {
                    window.scrollBy({
                      top: 630,
                      behavior: 'smooth'
                    })
                  }
                </script>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <i class="fas fa-hand-holding-heart fa-3x"></i>
                <h5 class="card-title mt-3">Request Blood</h5>
                <p class="card-text">Submit a blood request and connect with donors who are willing to help.</p>
                <a href="/patient_make_req" class="btn btn-primary">Request Blood</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <i class="fas fa-book-medical fa-3x"></i>
                <h5 class="card-title mt-3">Check Blood Request</h5>
                <p class="card-text">Check who responded to your request and contact him.</p>
                <a href="patient_req" class="btn btn-primary">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="bg-light">
        <div class="container py-5">
          <div class="row align-items-center">
            <div class="col-md-9">
              <h2>Why Choose Us?</h2>
              <p class="lead">
                We are committed to helping patients in need to get blood as soon as possible.
                <br />
                We have reputable blood banks and donors registered.
                <br />
                We prioritize patient privacy and confidentiality.
              </p>
            </div>
            <div class="col-md-3 ">
              <img src="https://st.depositphotos.com/1647366/4386/v/600/depositphotos_43860949-stock-illustration-cartoon-of-nurse-helping-child.jpg" alt="Blood donation" class="img-fluid rounded " />
            </div>
          </div>
        </div>
      </section>

      <h1>Hospitals Near You</h1>
      <br />
      <div class="row">
        {% for j in hospd %}
          <div class="col-md-4">
            <div class="card mb-4 box-shadow box">
              <img class="card-img-top box" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://medibhai.com/uploads/hospital_image/hospital-profile-default.jpg" data-holder-rendered="true" />
              <div class="card-body">
                <b>Name:</b>{{ j.name }}<br />
                <b>Email:</b> {{ j.email }} <br />
                <b>Address:</b> {{ j.location.address }}, {{ j.location.landmark }}, {{ j.location.city }}, {{ j.location.state }} <br />
                <b>Contact:</b> {{ j.contact_no1 }}

                <p class="card-text"></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <form method="post" action="/hospital_page">
                      {% csrf_token %}
                      <input type="hidden" name="data" value="{{ j.id_no }}" />
                      <button type="submit" class="btn btn-sm btn-outline-secondary">Veiw Details</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
