{% extends 'base.html' %}
{% block title %}Blood Requests{% endblock title %}
{% block head %}

<style>
    .box{
        
  border-radius: 25px;
    }
    .tablediv {
        overflow-x:scroll;
      }
</style>
{% endblock head %}

{% block body %} 

<div class="album">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Blood Requests</h1>
                <div class="tablediv">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date of Request</th>
                            <th>Patient ID</th>
                            <th>Hospital Name</th>
                            <th>Hospital Address</th>
                            <th>Quantity</th>
                            <th>Recieved</th>
                            <th>Date of Response</th>
                            <th>Donor ID</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for request in r %}
                            <tr>
                                <td>{{ request.date_of_request }}</td>
                                <td>{{ request.patient_id.id_no }}</td>
                                <td>{{ request.hospital_name }}</td>
                                <td>{{ request.hospital_add }}</td>
                                <td>{{ request.quantity }}</td>
                                <td>{% if request.recieved %}Yes{% else %}No{% endif %}</td>
                                <td>{{ request.date_of_response }}</td>
                                {% if not request.recieved %}
                                <td>
                                    <form method="post" action="#">
                                        {% csrf_token %}
                                        <select class="form-control" name="d_id" id="d_id" required>
                                            <option value="">Select Donor</option>
                                            {% for i in r2 %}
                                            <option value="{{request.donor_id.id_no}}">{{i.donor_id.name}} - {{i.donor_id.contact_no1}}</option>
                                            {% endfor %}
                                            <option value="none">Some Other</option>
                                            
                                        </select>
                                        <input type="hidden" name="data" value="{{request.id}}">
                                        
                                        <button type="submit" class="btn btn-sm btn-outline-secondary">Revcieved</button>
                                    </form>

                                </td>
                                {% else %}
                                <td>{{ request.donor_id.name}}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>
        </div>
        <a class="btn btn-primary" style="float: right;" href="/patient">Go Home</a>
    </div>
   
      <script>
        function goBack() {
            window.history.back();
        }
      </script>
        </div>
    </div>
    {% endblock body %}